<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    About Me
  </h2>

  <div class="summary">
    I am a Ph.D. candidate in the Computer Science Department at the University of Southern California, where I am advised by Professor Mukund Raghothaman. My research focuses on programming languages, automated reasoning, program synthesis, and program analysis. I am particularly interested in tackling challenges related to code explainability and recursive program synthesis. In my recent work, I introduced the concept of sub-specifications as a novel approach to enhance synthesized implementations with explanatory notes. I hold a bachelor's degree in computer engineering from Amirkabir University of Technology.
  </div><!--//summary-->
    
</section><!--//section-->
