<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    About Me
  </h2>

  <div class="summary">
    I am a Ph.D. student of Computer Science Department at the University of Southern California, advised by Professor Mukund Raghothaman. my research interests include programming languages, formal verification, program synthesis, and program analysis. In particular, I am working on explaiable program frameworks, and recursive program synthesis. In my recent work, I introduced the idea of sub-specifications as a mechanism to augment the synthesized implementation with explanatory notes of this form. Moreover, I got my bachelor's degree in computer engineering from Amirkabir University of Technology.
  </div><!--//summary-->
    
</section><!--//section-->
