<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Education
  </h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Ph.D. in Computer Science</h3>
        <div class="time">May 2021 - Present</div>
      </div>
      <div class="details">University of Southern California, Los Angeles, USA</div>    
      <div class="details">Thesis &colon; TBA</div>    
      <div class="details">Advisor &colon; Mukund Raghothaman</div>
    </div>
  </div>
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">B.Sc. in Computer Engineering</h3>
        <div class="time">September 2016 - September 2020</div>
      </div>
      <div class="details">Amirkabir University of Technology(Tehran Polytechnic), Tehran, Iran</div>    
      <div class="details">Thesis &colon; Modeling and design and implementation of transparent value-sensitive run-time monitoring for information flow policies</div>    
      <div class="details">Advisor &colon; Mehran S. Fallah</div>
    </div>
  </div>

</section>
