
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Education
  </h2>

  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">B.Sc. in Computer Engineering, Amirkabir University of Technology</h3>
        <div class="time">September 2016 - September 2020</div>
      </div><!--//upper-row-->

      <div class="company">Amirkabir University of Technology(Tehran Polytechnic), Tehran, Iran</div>
      
      <div class="details">Advisor &colon; Mukund Raghothaman</div><!--//details-->

    </div><!--//meta-->

  </div><!--//item-->

</section><!--//section-->
