<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    Publications
  </h2>

  <div class="item">
    <li>Explainable Program Synthesis by Localizing Specifications</li>
    <div class="publication-authors">Amirmohammad Nazari, Yifei Huang, Roopsha Samanta, Arjun Radhakrishna, Mukund Raghothaman</div>
    <div class="publication-conference">In Submission, 2022</div>
    <a href="https://github.com/AmirMohammadNazari/AmirMohammadNazari.github.io/raw/master/assets/draft.pdf">PDF</a>
  </div><!--//item-->

</section><!--//section-->
