<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    Publications
  </h2>

  <div class="item">
    <li>Explainable Program Synthesis by Localizing Specifications</li>
    <div class="publication-authors">Amirmohammad Nazari, Yifei Huang, Roopsha Samanta, Arjun Radhakrishna, Mukund Raghothaman</div>
    <div class="publication-conference">In OOPSLA 2023</div>
    <a href="https://dl.acm.org/doi/abs/10.1145/3622874">PDF</a>
  </div><!--//item-->

  <div class="item">
    <li>How Does My Circuit Work? Local Explanations for the Behavior of Sequential Circuits</li>
    <div class="publication-authors">Amirmohammad Nazari, Matin Amini, Mukund Raghothaman</div>
    <div class="publication-conference">In Submission 2025</div>
    <a href="https://r-mukund.github.io/pdf/submitted/2025-SS3.pdf">PDF</a>
  </div><!--//item-->
  
  <div class="item">
    <li>Generating Function Names to Improve Comprehension of Synthesized Programs</li>
    <div class="publication-authors">Amirmohammad Nazari, Swabha Swayamdipta, Souti Chattopadhyay, and Mukund Raghothaman</div>
    <div class="publication-conference">In VL/HCC 2024</div>
    <a href="https://arxiv.org/abs/2403.03429">PDF</a>
  </div>

  <div class="item">
    <li>NomNom: Explanatory Function Names for Program Synthesizers</li>
    <div class="publication-authors">Amirmohammad Nazari, Swabha Swayamdipta, Souti Chattopadhyay, and Mukund Raghothaman</div>
    <div class="publication-conference">In ICSE 2024 (Posters)</div>
    <a href="https://dl.acm.org/doi/10.1145/3639478.3643529">PDF</a>
  </div><!--//item-->

  <div class="item">
    <li>Localized Explanations for Automatically Synthesized Network Configurations</li>
    <div class="publication-authors">Amirmohammad Nazari, Yongzheng Zhang, Mukund Raghothaman, Haoxian Chen</div>
    <div class="publication-conference">In HotNets 2025</div>
    <a href="https://dl.acm.org/doi/abs/10.1145/3696348.3696888">PDF</a>
  </div><!--//item-->
  
</section><!--//section-->
