
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Teaching and Mentoring
  </h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Mentor, SHINE Program</h3>
        <div class="time">Summer 2022</div>
      </div>
      <div class="details">Computer Science Department, University of Southern California</div>    
      <div class="details">Under supervision of Prof. Mukund Raghothaman</div>    
    </div>
  </div>
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Mentor, CURVE Program</h3>
        <div class="time">Spring 2022</div>
      </div>
      <div class="details">Computer Science Department, University of Southern California</div>    
      <div class="details">Under supervision of Prof. Mukund Raghothaman</div>    
    </div>
  </div>
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Mentor, CURVE Program</h3>
        <div class="time">Fall 2021</div>
      </div>
      <div class="details">Computer Science Department, University of Southern California</div>    
      <div class="details">Under supervision of Prof. Mukund Raghothaman</div>    
    </div>
  </div>
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Teaching Assistant, Programming Languages</h3>
        <div class="time">Fall 2020</div>
      </div>
      <div class="details">Computer Engineering Department, Amirkabir University of Technology</div>    
      <div class="details">Under supervision of Prof. Mehran S. Fallah</div>    
    </div>
  </div>
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Teaching Assistant, Computer Architecture</h3>
        <div class="time">Spring 2020</div>
      </div>
      <div class="details">Computer Engineering Department, Amirkabir University of Technology</div>    
      <div class="details">Under supervision of Prof. Hamed Farbeh</div>    
    </div>
  </div>
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Teaching Assistant, Programming Languages</h3>
        <div class="time">Spring 2020</div>
      </div>
      <div class="details">Computer Engineering Department, Amirkabir University of Technology</div>    
      <div class="details">Under supervision of Prof. Mehran S. Fallah</div>    
    </div>
  </div>
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Teaching Assistant, Programming Languages</h3>
        <div class="time">Fall 2019</div>
      </div>
      <div class="details">Computer Engineering Department, Amirkabir University of Technology</div>    
      <div class="details">Under supervision of Prof. Mehran S. Fallah</div>    
    </div>
  </div>
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Teaching Assistant, Principles of Compiler Design</h3>
        <div class="time">Fall 2019</div>
      </div>
      <div class="details">Computer Engineering Department, Amirkabir University of Technology</div>    
      <div class="details">Under supervision of Prof. Mohammadreza Razzazi</div>    
    </div>
  </div>
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Teaching Assistant, Computer Architecture</h3>
        <div class="time">Fall 2019</div>
      </div>
      <div class="details">Computer Engineering Department, Amirkabir University of Technology</div>    
      <div class="details">Under supervision of Prof. Hamed Farbeh</div>    
    </div>
  </div>
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Teaching Assistant, Discrete Mathematics</h3>
        <div class="time">Spring 2019</div>
      </div>
      <div class="details">Computer Engineering Department, Amirkabir University of Technology</div>    
      <div class="details">Under supervision of Prof. Mehran S. Fallah</div>    
    </div>
  </div>
  
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Teaching Assistant, Data Structures And Algorithms</h3>
        <div class="time">Fall 2018</div>
      </div>
      <div class="details">Computer Engineering Department, Amirkabir University of Technology</div>    
      <div class="details">Under supervision of Prof. Alireza Bagheri</div>    
    </div>
  </div>

</section>
